#table {
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    width: 100%;
}

th {
    background-color: skyblue;
    text-align: center;
    margin: auto;
    padding: 10px;
}

td {
    /* border: 1px solid black; */
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
}