body {
    background-color: rgba(63, 71, 75, 0.322);
}

#table {
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    width: 100%;
}

th {
    background-color: tomato;
    text-align: center;
    margin: auto;
    padding: 10px;
}

td {
    /* border: 1px solid black; */
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
}

td:hover {
    background-color: grey;
    transform: scale(1.1);
}

th:hover {
    background-color: red;
    transform: scale(1.1);
    border-radius: 5px;
}